<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @documentparent.name %>
</p>


<%= link_to 'Edit', edit_documentparent_path(@documentparent) %> |
<%= link_to 'Back', documentparents_path %>
